<article class="article" data-section="article">
	<header>
		<div class="article__image--hero">
			<img src="{{ article.post.image }}" alt=""/>
		</div>

		<h1 class="article__heading">{{ article.post.title }}</h1>

		<p class="article__standfirst">{{ article.post.standfirst }}</p>

		<time class="article__date">{{ article.post.date }}</time>
	</header>

	{{{ article.post.body }}}
</article>

<aside class="associated" data-section="associatedArticles">
	<header class="associated__header">
		<h1 class="associated__heading">More stories</h1>
	</header>

	<ul>
		{{#each posts.posts}}
			<li class="associated__item">
				<div class="associated__image">
					<img src="{{this.thumbnail}}" alt=""/>
				</div>

				<div class="associated__content">
					<p>{{this.title}}</p>
					<a href="#">Read more <span class="visually-hidden">about {{this.title}}</span></a>
				</div>
			</li>
		{{/each}}
	</ul>
</aside>
